<!DOCTYPE html>
<html>
    <head>
        <title>Airlines LOGOS</title>
        <script src="js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body id="react-app">
     {{{body}}}
    </body>
</html>